<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multertest</title>
</head>
<body>
    <h1>file upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <span>upload any file here for testing</span>
        <input type="file" name="pic" id="" required>
        <br>
        <input type="submit" value="upload">

    </form>
</body>
</html>